<div class="text-center">
    <h1 class="mb-2">Hi, I'm Jacob Kent</h1>
    <img src="../../../Client/Assets/images/JK2021.jpg"><i>Jacob Kent</i></img>
    <h1 class="mb-5">I'm an aspiring computer programmer and web designer</h1>

</div>

<!-- <button id="AboutUsButton" class="btn btn-primary">Learn About Us!</button> -->